<div
  class="container w-75 d-flex p-4 h-75 text-light order border border-dark"
  style="
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2a1f47;
  "
>
  <div
    ng-click="overlayfunc()"
    class="text-danger"
    style="align-self: flex-end"
  >
    ClOSE
  </div>
  <h3 class="pb-4">Previous Appointments</h3>
  <div class="li w-100" style="overflow: auto">
    <div
      class="container w-100 d-flex flex-row align-items-center"
      style="
        background-color: #3d3067;
        justify-content: space-between;
        margin-bottom: 0.1rem;
      "
      ng-repeat="p in pastapts"
    >
      <img class="avatar" src="http://placeimg.com/80/80/people" />
      <div class="text-light">
        <span>{{p.patient_name}}</span>
        <br />
        <span style="color: #9b9daf">{{p.datetime}}</span>
      </div>
      <div></div>
      <button
        type="button"
        class="btn btn-success d-flex align-items-center justify-content-around"
        style="width: 25%"
        data-bs-toggle="modal"
        data-bs-target="#prescription"
        ng-click="viewpresbtn(p.app_id)"
      >
        <span class="material-symbols-outlined"> file_download </span>
        Prescription
      </button>
    </div>
  </div>
</div>
