<div class="d-flex flex-column align-items-center h-100">
  <form class="d-flex w-25 my-3">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      ng-model="hint"
    />
    <button
      class="btn btn-outline-success"
      ng-click="changefunc()"
      type="submit"
    >
      Search
    </button>
  </form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >Which specialist would you want to visit?</label
    >
    <select
      class="form-select w-100 p-1 border-1"
      style="border-style: solid; background-color: #fff"
      aria-label="Default select example"
      ng-model="speciality"
      ng-init="speciality = 0"
      ng-options="value as key for (value , key) in spec"
      ng-change="changefunc()"
    ></select>
  </div>
  <div class="w-75 h-75" style="overflow-y: scroll; height: 500">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="position-sticky bg-light" style="top: 0" scope="col">
            Doctor ID
          </th>
          <th class="position-sticky bg-light" style="top: 0" scope="col">
            Doctor Name
          </th>
          <th class="position-sticky bg-light" style="top: 0" scope="col">
            Speciality
          </th>
          <th class="position-sticky bg-light" style="top: 0" scope="col">
            Scheduled Appointments
          </th>
          <th class="position-sticky bg-light" style="top: 0" scope="col">
            Patients Registered
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="doc in docdata"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          style="cursor: pointer"
          ng-click="hitpehit(doc.doc_id)"
        >
          <th scope="row">{{doc.doc_id}}</th>
          <td>{{doc.doc_name}}</td>
          <td>{{doc.speciality}}</td>
          <td>{{doc.count_appointments}}</td>
          <td>{{doc.count_patients}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{docdetails.name}}<span class="badge bg-secondary">{{docdetails.speciality}}</span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row h-50">
          <h2>Basic Details</h2>
          <div class="details">
            <div class="row mb-5">
              <div class="col-sm-3">
                <span>Name</span><br /><span>{{docdetails.name}}</span>
              </div>
              <div class="col-sm-3">
                <span>Email</span><br /><span>{{docdetails.email}}</span>
              </div>
              <div class="col-sm-3">
                <span>Speciality</span><br /><span
                  >{{docdetails.speciality}}</span
                >
              </div>
              <div class="col-sm-3">
                <span>Phone No</span><br /><span>{{docdetails.phone}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <span>Fees</span><br /><span>{{docdetails.fees}}</span>
              </div>
              <div class="col-sm-3">
                <span>Gender</span><br /><span>{{docdetails.gender}}</span>
              </div>
              <div class="col-sm-3">
                <span>Qualification</span><br /><span
                  >{{docdetails.qualification}}</span
                >
              </div>
              <div class="col-sm-3">
                <span>Address</span><br/><span>{{docdetails.address}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row h-75">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Scheduled Appintments
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show w-100"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body d-flex w-100 overflow-auto">
                  <div class="card me-2 w-50"  ng-repeat = "apt in upcomingapts">
                    <div class="card-body w-100">
                      <p class="card-text">
                      <h6 class="text-secondary">Name</h6>
                        <h4>{{apt.patient_name}}</h4>
                       <h6 class="text-secondary">Appointment Date and time</h6>
                       <h4>{{apt.app_datetime}}</h4>
                      </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Patients Under {{docdetails.name}}
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body d-flex align-items-center">
                    <div class="card me-2" ng-repeat = "p in pdetails">
                        <div class="card-body">
                          <p class="card-text">
                          <h6 class="text-secondary">Name</h6>
                            <h4>{{p.patient_name}}</h4>
                           <h6 class="text-secondary">Appointment Date and time</h6>
                           <h4>{{p.datetime}}</h4>
                           <h6 class="text-secondary">Phone No</h6>
                           <h4>{{p.patient_phone}}</h4>
                          </p>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Past Appointments
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body d-flex align-items-center">
                    <div class="card me-2 w-auto" ng-repeat = "apt in pastapts">
                        <div class="card-body">
                          <p class="card-text">
                          <h6 class="text-secondary">Name</h6>
                            <h4>{{apt.patient_name}}</h4>
                           <h6 class="text-secondary">Appointment Date and time</h6>
                           <h4>{{apt.datetime}}</h4>
                          </p>
                        </div>
                      </div>
                      <a href="" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" ng-click = "viewall(docdetails.doc_id)">
                        View All </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="example

  ModalToggleLabel2" tabindex="-2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Past Appointments</h5>
        <button type="button" class="btn-close" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Aadhar</th>
                <th scope="col">Name</th>
                <th scope="col">Appointment date</th>
                <th scope="col">Prescription</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="v in viewall">
                <td>{{v.aadhar}}</td>
                <td>{{v.patient_name}}</td>
                <td>{{v.app_datetime}}</td>
                <td><a href="" ng-click="">View Prescription</a></td>
              </tr>
            </tbody>
          </table>      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
</div>


