<div
class="container d-flex p-4 h-75 bg-light order border border-dark position-relative top-50 left-50"
ng-show="show"
style="
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: auto;
"
>
<div
  ng-click="overlayfunc()"
  class="text-danger"
  style="align-self: flex-end"
>
  ClOSE
</div>
<h3>Book An Appointment</h3>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >Patient's Name</label
    >
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      disabled
      value= {{d.fname}}
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Patent's Contact Number</label
    >
    <input
      type="number"
      class="form-control"
      id="exampleInputPassword1"
      disabled
      value= {{d.phone}}
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >Which specialist would you want to visit?</label
    >
    <select
      class="form-select w-100 p-1 border-1"
      style="border-style: solid; background-color: #fff; height: 20%"
      aria-label="Default select example"
      ng-model="speciality"
      ng-options="value as key for (value , key) in spec"
      ng-change='dynamicdd(speciality)'
    >
      <option value="" selected disabled>
        Select Doctor's Speciality
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >Select the ENT Specialist you want to visit</label
    >
    <select
      class="form-select w-100 p-1 border-1"
      style="border-style: solid; background-color: #fff"
      aria-label="Default select example"
      ng-model="doctorname"
      ng-options="value as key.name for (value, key) in doctorsli"
      
    >
      <option value="" selected disabled>Select the Doctor</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Please Select Appointment time</label
    >
    <input
      type="datetime-local"
      class="form-control"
      id="exampleInputPassword1"
      ng-model = "datetime"
    />
  </div>
  
  <!-- <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >Which specialist would you want to visit?</label
    >
    <select
      class="form-select w-100 p-1 border-1"
      style="border-style: solid; background-color: #fff"
      aria-label="Default select example"
      ng-model="speciality"
      ng-options="key as value for (key , value) in spec"
      ng-change='dynamicdd()'
    >
      <option value="" selected disabled>Available Time Slots</option>
    </select>
  </div> -->
  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
</form>
<div
  ng-click="changeshow()"
  class="text-success"
  style="align-self: flex-end"
>
  NEXT
</div>
</div>
<div
class="container d-flex p-5 bg-light order border border-dark position-relative top-50 left-50"
ng-hide="show"
style="
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
"
>
<div class="heading"><h3>Summary</h3></div>
<table class="table">

  <tbody>
    <tr>
      <td>Patient's Name</td>
      <td>{{d.fname}}</td>
    </tr>
    <tr>
      <td>Patient's Email</td>
      <td>{{d.email}}</td>
    </tr>
    <tr>
      <td scope="row"">Visiting to Doctor</td>
      <td>{{doctorsli[doctorname].name}}</td>
    </tr>
    <tr>
      <td scope="row"">Appintment Time</td>
      <td>{{aptTime}}</td>
    </tr>
    <tr>
      <td scope="row"">Fees</td>
      <td>{{doctorsli[doctorname].fees}}</td>
    </tr>
  </tbody>
</table>
<div class="my-4">
  <button ng-click = paybtn() class="btn btn-primary">Confirm and Pay</button>
</div>
</div>